<div class="container">
  <nav class="navbar">
      <div class="navbar-header">
        <p class="navbar-brand"><span class="glyphicon glyphicon-tent"></span><a href="/results"> Camp Finder</a></p>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input class="form-control" #place placeholder="Search by City">
              <button class="btn btn-success" (click)="search(place.value); place.value=''">Search</button>

              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"><img class="profile right" src="{{(user | async)?.photoURL}}"></a>
                  <ul class="dropdown-menu">
                    <li class="btn">{{(user | async)?.displayName}}</li>
                    <li role="separator" class="divider"></li>
                    <li><a class="btn" (click)="logout()">Log Out</a></li>
                  </ul>

                </li>
              </ul>
            </div>
            </form>


      </div>
  </nav>

</div>

<div id="map">
  <ngui-map
    zoom="8" [center]="location"
    mapTypeId="terrain"
    (mapClick)="onMapClick($event)">
    <marker *ngFor="let fac of facilities" [position]="[fac.FacilityLatitude,fac.FacilityLongitude]" (click)="clickMarker($event)" [title]="fac.FacilityName"></marker>
    <info-window id="iw">
      <h4>{{title}}</h4>
      <p>{{direction}}</p>
      <li>Day Temp: {{markerDayTemp}}</li>
      <li>Night Temp: {{markerEveTemp}}</li>
      <button (click)="seeDetail(facilities)">See Detail</button>
    </info-window>
  </ngui-map>
</div>

<app-cleverbot></app-cleverbot>
<div class="row">
  <app-campground-data [facility]="facility" [totalCampsitesNum]="totalCampsitesNum" [currentCount]="currentCount" [campsites]="campsites"></app-campground-data>
</div>

<div class="row">
  <app-weather [facility]="facility" [threeDayForcast]="threeDayForcast"></app-weather>
</div>
