<h2>Map</h2>

<div class="form-group">
  <input #place placeholder="enter a place">
  <button (click)="search(place.value); place.value=''">Search</button>
</div>

<div id="weather" *ngIf="cityName">
  <li>{{cityName}}</li>
  <li>Day Temp: {{dayTemp}}</li>
  <li>Eve Temp: {{eveTemp}}</li>
</div>

<ngui-map
  zoom="7" [center]="location"
  mapTypeId="terrain"
  (mapClick)="onMapClick($event)"
  (mapReady$)="onMapReady($event)">
  <marker *ngFor="let fac of facilities" [position]="[fac.FacilityLatitude,fac.FacilityLongitude]" (click)="clickMarker($event)" [title]="fac.FacilityName"></marker>
  <info-window id="iw">
    <h4>{{title}}</h4>
    <p>{{direction}}</p>
    <li>Day Temp: {{markerDayTemp}}</li>
    <li>Night Temp: {{markerEveTemp}}</li>
    <button (click)="seeDetail(facilities)">See Detail</button>
  </info-window>
</ngui-map>
<div class="col-md-12">
  <app-campground-data [facility]="facility" [totalCampsitesNum]="totalCampsitesNum" [currentCount]="currentCount" [campsites]="campsites"></app-campground-data>
  <app-weather [facility]="facility" [threeDayForcast]="threeDayForcast"></app-weather>
</div>
