img{
  width: 60px;

}
.maxIsCool{
  text-align: left;
}

h3{
color: #4B515D;
font-size: 18px;
font-weight: 200;
}

.weather{
  margin-left: 30px;
  text-align: center;
  margin-bottom: 40px;
  color: #4B515D;
}
.forecast{
  padding-top: 5px;

}
