/* You can add global styles to this file, and also import other style files */
#map ngui-map{
  display: block;
  height: 60vh;
}

.Gmap {
  /*background: red;*/
}

.container-fluid {
  max-width: 100%;
}

.navbar a{
  color: #3E4551;
}

.navbar a:hover {
  text-decoration: none;
  color: inherit;
}

#cleverbot  {
  margin: 12px 0;
  height: 30px;
  text-align: right;
}

.bot-field {
  width: 100%;
  margin-right: -40px;
}

.cleverbot .bot-group {
  margin-right: -20px;
}

p.response {
  font-size: 24px;
  font-weight: 200;
  color: #4B515D;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.profile {
  width: 40px;
  border-radius: 100%;
}

.account {
  width: 100%;
  height: 50px;
  background: #e0e0e0;
  margin-bottom: 10px;
  border-radius: 6px;
}

.account .right {
  margin-top: 6px;
  margin-bottom: auto;
  margin-right: 6px;
  float: right;
}

div.account p.right{
  margin-top: 16px;
  padding-right: 10px;
}
