/* You can add global styles to this file, and also import other style files */
#map ngui-map{
  display: block;
  height: 60vh;
}

.container-fluid {
  max-width: 100%;
}

.navbar {
  height: 10px;
  margin-top: 10px;
}

.navbar a{
  color: #3E4551;
}

.navbar a:hover {
  text-decoration: none;
  color: inherit;
}

.navbar .btn-success {
  background-color: #6a8446;
  border-color: #7a9e48;
  /*background: #6a8446;*/
}

.navbar .btn-success:hover {
  background-color: #6f9b31;
  border-color: #7a9e48;
}

#cleverbot  {
  margin: 12px 0;
  height: 30px;
  text-align: right;
}

.bot-field {
  width: 100%;
  margin-right: -40px;
}

.cleverbot .bot-group {
  margin-right: -20px;
}

p.response {
  font-size: 24px;
  font-weight: 200;
  color: #4B515D;
}

.buttons {
  margin-left: auto;
  margin-right: auto;
}

.profile {
  margin-left: 12px;
  margin-top: -6px;
  width: 40px;
  border-radius: 100%;
}

.dropdown-toggle {
  margin-top: -10px;
  background: white;
}

.dropdown-toggle a:hover {
  background: white;
}

ul.nav li.dropdown a:hover {
  background-color: white;
}

ul.nav li.dropdown a:focus {
  background-color: white;
}

.account img {
  margin-left: 16px;
}

div.account p.right{
  margin-top: 16px;
  padding-right: 10px;
}

.glyphicon-tent {
  color: #4B515D;
  font-size: 24px;
}

.home {
  margin-top: 10%;
}

.login {
  padding: 20%;
}

.logo h4 {
  font-size: 32px;
  color: #4B515D;
}

.logo .glyphicon {
  font-size: 32px;
}

.google {
  margin-bottom: 12px;
}

.logo span {
  margin-top: -60px;
}

.jerry{
  /*border: 3px solid black;*/
  color: #4B515D;
  font-size: 18px;
  font-weight: 200;
  padding-top: 20px;
  text-align: left;
  /*height: 400px;*/
  margin-top:10px;
  padding-bottom: 0px;
}

.facilities, .campsites {
  color: #4B515D;
}

.facilities h4 {
  font-size: 22px;
  font-weight: 200;
}
