<div class="container">
  <div class="panel panel-default">
    <div class="row login">
      <div class="logo">
        <h4><span class="glyphicon glyphicon-tree-conifer"></span>Camp Finder</h4>
      </div>

      <div class="buttons">
        <div> {{ (user | async)?.displayName }} </div>

        <div class="col-md-6 google">
          <button class="btn btn-danger" (click)="logInGoogle()">Google Login</button>
        </div>
        <div class="col-md-6 twitter">
          <button class="btn btn-info" (click)="logInTwitter()">Twitter Login</button>
        </div>

      </div>
    </div>
  </div>
</div>
